table{
    width: 100;
}
table, th, td{
   border: 1px solid black; 
   border-collapse: collapse;
   border-spacing: 5px;
   padding: 5px;
}
caption{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    line-height: 70px;
}

td{
    text-align: center;
    color: black;
    background-color: blue;
}
th{
    text-align: left;
}
tr: :nth-child(ood)
